@charset "UTF-8";

head {
    background-color: #84E0AD;
}
main {
    background-color: #84E0AD;
}
article {
    background-color: white;
    margin: 0px 200px;
}
span {
    font-weight: bold;
}
.especial::after {
    content: '☜';
    
}
.certo::before {
    content: '✔'
}
header {
    background-image: linear-gradient(to top, #1C4A30, #39C878 );
    color: white;
    text-align: center;
    ma
}
nav {
    text-align: left;
    color: white;
}
 aside {

 }